<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MyMineSweeper.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<appSettings>
		<add key="MINES_QTY" value="220"/>
		<add key="NUM_ROWS" value="16"/>
		<add key="NUM_COLS" value="30"/>
		<add key="CELL_SIZE" value="25"/>
		<add key="COINS_TIP" value="2"/>
	</appSettings>
 <userSettings>
  <MyMineSweeper.Properties.Settings>
   <setting name="minesqty" serializeAs="String">
    <value>99</value>
   </setting>
  </MyMineSweeper.Properties.Settings>
 </userSettings>
</configuration>